In [268]:
# Importing the Libraries
import pandas as pd
import numpy as np
import json

In [269]:
# Getting the data from batting_summary.json and putting it inside the a DataFrame
with open('D:/Final Year Project Cricket Analysis/t20_json_files/t20_wc_batting_summary.json') as f:
    data = json.load(f)
    all_records = []
    for rec in data:
        all_records.extend(rec['battingSummary'])
  
df_batting = pd.DataFrame(all_records)

In [270]:
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33

In [271]:
# Adding a column to check if the player is out or not
# lambda function to check if dismissal has a value and putting out if it does
df_batting['out/not_out'] = df_batting.dismissal.apply(lambda x: 0 if len(x)>0 else 1)
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,0
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,0
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,0
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,0
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,0

In [272]:
# Renaming the player names and removing the symbols
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))
df_batting.head()

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Namibia Vs Sri Lanka,Namibia,1,Michael van Lingen,c Pramod Madushan b Chameera,3,6,0,0,50.00,0
1,Namibia Vs Sri Lanka,Namibia,2,Divan la Cock,c Shanaka b Pramod Madushan,9,9,1,0,100.00,0
2,Namibia Vs Sri Lanka,Namibia,3,Jan Nicol Loftie-Eaton,c â€ Mendis b Karunaratne,20,12,1,2,166.66,0
3,Namibia Vs Sri Lanka,Namibia,4,Stephan Baard,c DM de Silva b Pramod Madushan,26,24,2,0,108.33,0
4,Namibia Vs Sri Lanka,Namibia,5,Gerhard Erasmus(c),c Gunathilaka b PWH de Silva,20,24,0,0,83.33,0

In [273]:
# function to change data type from object to numeric
def changetype(df):
    return pd.to_numeric(df,errors = 'coerce')

In [274]:
df_batting['runs'] = changetype(df_batting['runs'])
df_batting['balls'] = changetype(df_batting['balls'])
df_batting['4s'] = changetype(df_batting['4s'])
df_batting['6s'] = changetype(df_batting['6s'])
df_batting['SR'] = changetype(df_batting['SR'])

In [275]:
df_batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match        699 non-null    object
 1   teamInnings  699 non-null    object
 2   battingPos   699 non-null    int64
 3   batsmanName  699 non-null    object
 4   dismissal    699 non-null    object
 5   runs         699 non-null    int64
 6   balls        699 non-null    int64
 7   4s           699 non-null    int64
 8   6s           699 non-null    int64
 9   SR           688 non-null    float64
 10  out/not_out  699 non-null    int64
dtypes: float64(1), int64(6), object(4)
memory usage: 60.2+ KB

In [276]:
# Finding the mean for all the players and grouping them into a df
#df = df_batting[['batsmanName','runs','balls','4s','6s','SR','out/not_out']]
df = df_batting.groupby('batsmanName').mean()
df.dropna(inplace = True)
df.head()

C:\Users\chira\AppData\Local\Temp\ipykernel_15408\1728141519.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df_batting.groupby('batsmanName').mean()

,battingPos,runs,balls,4s,6s,SR,out/not_out
batsmanName,,,,,,,
Aaron Finch(c),2.00,35.666667,32.333333,2.00,1.666667,111.7200,0.333333
Aayan Afzal Khan,7.50,12.000000,14.000000,0.50,0.000000,80.9450,0.000000
Adam Zampa,10.00,0.500000,1.500000,0.00,0.000000,50.0000,0.500000
Afif Hossain,4.80,19.000000,15.200000,1.20,0.600000,98.6740,0.200000
Aiden Markram,4.25,24.750000,19.750000,3.25,0.250000,122.8325,0.000000

In [277]:
# dividing the df into Train and Test sets
X = df.drop(columns = ['runs'])
y = df['runs']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train, y_test = train_test_split(X,y,
                                                  random_state = 42,
                                                   test_size = 0.2,
                                                  shuffle = False)

In [278]:
# Importing the Regressor models
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression

In [279]:
# Putting the 1st 3 estimators
estimators = [
    ('rf', RandomForestRegressor(n_estimators=10, random_state=42)),
    ('lr', LinearRegression()),
    ('gbdt',GradientBoostingRegressor())
]

In [280]:
from sklearn.ensemble import StackingRegressor

# Finally passing the individual predictor sets through a linear regressor
reg = StackingRegressor(
    estimators=estimators, 
    final_estimator=LinearRegression(),
    cv=10
)

In [281]:
# Training the model on training data
reg.fit(X_train, y_train)

StackingRegressor(cv=10,
                  estimators=[('rf',
                               RandomForestRegressor(n_estimators=10,
                                                     random_state=42)),
                              ('lr', LinearRegression()),
                              ('gbdt', GradientBoostingRegressor())],
                  final_estimator=LinearRegression())

In [282]:
y_train

batsmanName
Aaron Finch(c)          35.666667
Aayan Afzal Khan        12.000000
Adam Zampa               0.500000
Afif Hossain            19.000000
Aiden Markram           24.750000
                          ...
Rishabh Pant             4.500000
Roelof van der Merwe     1.250000
Rohit Sharma(c)         19.333333
Rovman Powell           13.000000
Ruben Trumpelmann       25.000000
Name: runs, Length: 159, dtype: float64

In [283]:
# After the model "reg" is trained we pass the total data to predict
y_pred = reg.predict(X)

In [284]:
y_pred = pd.DataFrame(y_pred)
#d f_pred = pd.concat([X, y_pred], axis=1)
y_pred.reset_index(inplace = True)

In [285]:
# Adding Index for primary key purposes
X.reset_index(inplace = True)
X.reset_index(inplace = True)
X.head()

,index,batsmanName,battingPos,balls,4s,6s,SR,out/not_out
0,0,Aaron Finch(c),2.00,32.333333,2.00,1.666667,111.7200,0.333333
1,1,Aayan Afzal Khan,7.50,14.000000,0.50,0.000000,80.9450,0.000000
2,2,Adam Zampa,10.00,1.500000,0.00,0.000000,50.0000,0.500000
3,3,Afif Hossain,4.80,15.200000,1.20,0.600000,98.6740,0.200000
4,4,Aiden Markram,4.25,19.750000,3.25,0.250000,122.8325,0.000000

In [286]:
# Merging the dataframes into a single one
df_bat_pred = pd.merge(X,y_pred,how = 'inner',left_on = 'index',right_on = 'index')

In [287]:
# Removing the index
df_bat_pred.drop(columns = ['index'],inplace = True)
# Renaming y_pred as Predicted Runs
df_bat_pred.rename(columns = {0:'Predicted Runs'},inplace = True)
df_bat_pred.head()

,batsmanName,battingPos,balls,4s,6s,SR,out/not_out,Predicted Runs
0,Aaron Finch(c),2.00,32.333333,2.00,1.666667,111.7200,0.333333,37.582028
1,Aayan Afzal Khan,7.50,14.000000,0.50,0.000000,80.9450,0.000000,11.536645
2,Adam Zampa,10.00,1.500000,0.00,0.000000,50.0000,0.500000,0.248832
3,Afif Hossain,4.80,15.200000,1.20,0.600000,98.6740,0.200000,17.897023
4,Aiden Markram,4.25,19.750000,3.25,0.250000,122.8325,0.000000,25.354400

In [288]:
from sklearn.metrics import r2_score

# check R^2 between x_true and y_pred
y_test_pred = reg.predict(X_test)
r2_score(y_test,y_test_pred)

0.9729703323832679

In [289]:
df_bat_pred.shape

(199, 8)

In [290]:
df_batting.shape

(699, 11)

In [291]:
with open('D:/Final Year Project Cricket Analysis/t20_json_files/t20_wc_bowling_summary.json') as f:
    data = json.load(f)
    all_records1 = []
    for rec in data:
        all_records1.extend(rec['bowlingSummary'])
  
df_bowling = pd.DataFrame(all_records1)

In [292]:
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

In [293]:
df_bowling['bowlerName'] = df_bowling['bowlerName'].apply(lambda x: x.replace('â€', ''))
df_bowling['bowlerName'] = df_bowling['bowlerName'].apply(lambda x: x.replace('\xa0', ''))
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Namibia Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,23,1,5.75,7,0,0,2,0
1,Namibia Vs Sri Lanka,Sri Lanka,Dushmantha Chameera,4,0,39,1,9.75,6,3,1,2,0
2,Namibia Vs Sri Lanka,Sri Lanka,Pramod Madushan,4,0,37,2,9.25,6,3,1,0,0
3,Namibia Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,36,1,9.00,7,3,1,1,0
4,Namibia Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga de Silva,4,0,27,1,6.75,8,1,1,0,0

In [294]:
df_bowling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   match        500 non-null    object
 1   bowlingTeam  500 non-null    object
 2   bowlerName   500 non-null    object
 3   overs        500 non-null    object
 4   maiden       500 non-null    object
 5   runs         500 non-null    object
 6   wickets      500 non-null    object
 7   economy      500 non-null    object
 8   0s           500 non-null    object
 9   4s           500 non-null    object
 10  6s           500 non-null    object
 11  wides        500 non-null    object
 12  noBalls      500 non-null    object
dtypes: object(13)
memory usage: 50.9+ KB

In [295]:
df_bowling.drop(columns = ['match','bowlingTeam'],inplace = True)

In [296]:
df_bowling['runs'] = changetype(df_bowling['runs'])
df_bowling['overs'] = changetype(df_bowling['overs'])
df_bowling['maiden'] = changetype(df_bowling['maiden'])
df_bowling['wickets'] = changetype(df_bowling['wickets'])
df_bowling['4s'] = changetype(df_bowling['4s'])
df_bowling['0s'] = changetype(df_bowling['0s'])
df_bowling['noBalls'] = changetype(df_bowling['noBalls'])
df_bowling['wides'] = changetype(df_bowling['wides'])
df_bowling['6s'] = changetype(df_bowling['6s'])
df_bowling['economy'] = changetype(df_bowling['economy'])

In [297]:
df1 = df_bowling.groupby('bowlerName').mean()
df1.dropna(inplace = True)
df1.head()

,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
bowlerName,,,,,,,,,,
Aayan Afzal Khan,2.666667,0.000000,12.666667,0.666667,4.610000,6.666667,0.666667,0.000000,0.000000,0.0
Adam Zampa,4.000000,0.000000,26.666667,1.666667,6.666667,8.000000,1.333333,0.666667,0.333333,0.0
Adil Rashid,4.000000,0.166667,24.500000,0.666667,6.125000,7.500000,0.666667,0.500000,0.166667,0.0
Afif Hossain,1.000000,0.000000,11.000000,1.000000,11.000000,1.000000,2.000000,0.000000,0.000000,0.0
Ahmed Raza,1.000000,0.000000,9.000000,0.000000,9.000000,1.000000,1.000000,0.000000,0.000000,0.0

In [298]:
X = df1.drop(columns = ['economy'])
y = df1['economy']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train, y_test = train_test_split(X,y,
                                                  random_state = 42,
                                                   test_size = 0.2,
                                                  shuffle = False)

In [299]:
estimators = [
    ('rf', RandomForestRegressor(n_estimators=10, random_state=42)),
    ('lr', LinearRegression()),
    ('gbdt',GradientBoostingRegressor())
]

In [300]:
from sklearn.ensemble import StackingRegressor

reg = StackingRegressor(
    estimators=estimators, 
    final_estimator=LinearRegression(),
    cv=10
)

In [301]:
reg.fit(X_train, y_train)

StackingRegressor(cv=10,
                  estimators=[('rf',
                               RandomForestRegressor(n_estimators=10,
                                                     random_state=42)),
                              ('lr', LinearRegression()),
                              ('gbdt', GradientBoostingRegressor())],
                  final_estimator=LinearRegression())

In [302]:
y_pred = reg.predict(X)

In [303]:
y_pred = pd.DataFrame(y_pred)
#d f_pred = pd.concat([X, y_pred], axis=1)
y_pred.reset_index(inplace = True)

In [304]:
X.reset_index(inplace = True)
X.reset_index(inplace = True)
X.head()

,index,bowlerName,overs,maiden,runs,wickets,0s,4s,6s,wides,noBalls
0,0,Aayan Afzal Khan,2.666667,0.000000,12.666667,0.666667,6.666667,0.666667,0.000000,0.000000,0.0
1,1,Adam Zampa,4.000000,0.000000,26.666667,1.666667,8.000000,1.333333,0.666667,0.333333,0.0
2,2,Adil Rashid,4.000000,0.166667,24.500000,0.666667,7.500000,0.666667,0.500000,0.166667,0.0
3,3,Afif Hossain,1.000000,0.000000,11.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.0
4,4,Ahmed Raza,1.000000,0.000000,9.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.0

In [305]:
df_ball_pred = pd.merge(X,y_pred,how = 'inner',left_on = 'index',right_on = 'index')

In [306]:
df_ball_pred.drop(columns = ['index'],inplace = True)
df_ball_pred.rename(columns = {0:'Predicted economy'},inplace = True)
df_ball_pred.head()

,bowlerName,overs,maiden,runs,wickets,0s,4s,6s,wides,noBalls,Predicted economy
0,Aayan Afzal Khan,2.666667,0.000000,12.666667,0.666667,6.666667,0.666667,0.000000,0.000000,0.0,4.563885
1,Adam Zampa,4.000000,0.000000,26.666667,1.666667,8.000000,1.333333,0.666667,0.333333,0.0,6.241355
2,Adil Rashid,4.000000,0.166667,24.500000,0.666667,7.500000,0.666667,0.500000,0.166667,0.0,5.706986
3,Afif Hossain,1.000000,0.000000,11.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.0,10.809094
4,Ahmed Raza,1.000000,0.000000,9.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,9.015149

In [307]:
from sklearn.metrics import r2_score

# check R^2 between x_true and y_pred
y_train_pred = reg.predict(X_train)
r2_score(y_train,y_train_pred)

0.9632597667227081

In [308]:
# Importing the player details and making a df
df_player = pd.read_csv('D:/Final Year Project Cricket Analysis/t20_csv_files/dim_players.csv')

In [309]:
df_player.shape

(219, 7)

In [310]:
df_player

,name,team,image,battingStyle,bowlingStyle,playingRole,description
0,Najmul Hossain Shanto,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Top order Batter,Nazmul Hossain Shanto emerged from an unusual ...
1,Soumya Sarkar,Bangladesh,NaN,Left hand Bat,Right arm Medium fast,Middle order Batter,"A rarity among Bangladesh allrounders, top-ord..."
2,Litton Das,Bangladesh,NaN,Right hand Bat,NaN,Wicketkeeper Batter,Liton Das is the first wicketkeeper-batsman in...
3,Shakib Al Hasan(c),Bangladesh,NaN,Left hand Bat,Slow Left arm Orthodox,Allrounder,When the annals of Bangladesh cricket are sift...
4,Afif Hossain,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Allrounder,Bangladesh left-hander Afif Hossain made his T...
...,...,...,...,...,...,...,...
214,Shoriful Islam,Bangladesh,NaN,Left hand Bat,Left arm Medium fast,Bowler,"At 6ft three inches, Shoriful Islam became a l..."
215,Phil Salt,England,NaN,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Ashton Agar,Australia,NaN,Left hand Bat,Slow Left arm Orthodox,Bowler,Ashton Agar initially turned almost as many he...
217,Heinrich Klaasen,South Africa,NaN,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A clean-hitting, wicketkeeper batsman, Heinric..."
218,Timm van der Gugten,Netherlands,NaN,Right hand Bat,Right arm Fast medium,Bowler,"Timm van der Gugten, born in Sydney, made his ..."

In [311]:
df_player['name'] = df_player['name'].apply(lambda x: x.replace('â€', ''))
df_player['name'] = df_player['name'].apply(lambda x: x.replace('\xa0', ''))
df_player.head()

,name,team,image,battingStyle,bowlingStyle,playingRole,description
0,Najmul Hossain Shanto,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Top order Batter,Nazmul Hossain Shanto emerged from an unusual ...
1,Soumya Sarkar,Bangladesh,NaN,Left hand Bat,Right arm Medium fast,Middle order Batter,"A rarity among Bangladesh allrounders, top-ord..."
2,Litton Das,Bangladesh,NaN,Right hand Bat,NaN,Wicketkeeper Batter,Liton Das is the first wicketkeeper-batsman in...
3,Shakib Al Hasan(c),Bangladesh,NaN,Left hand Bat,Slow Left arm Orthodox,Allrounder,When the annals of Bangladesh cricket are sift...
4,Afif Hossain,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Allrounder,Bangladesh left-hander Afif Hossain made his T...

In [312]:
df_player.shape

(219, 7)

In [313]:
# making a df with player deatails and player deatails merged together
df_ball = pd.merge(df_player,df_ball_pred,how = 'inner',left_on = 'name',right_on = 'bowlerName')

In [314]:
df_ball.head()

,name,team,image,battingStyle,bowlingStyle,playingRole,description,bowlerName,overs,maiden,runs,wickets,0s,4s,6s,wides,noBalls,Predicted economy
0,Soumya Sarkar,Bangladesh,NaN,Left hand Bat,Right arm Medium fast,Middle order Batter,"A rarity among Bangladesh allrounders, top-ord...",Soumya Sarkar,3.000000,0.0,29.000000,1.000000,5.000000,2.000000,1.000000,1.000000,0.000000,9.493371
1,Afif Hossain,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Allrounder,Bangladesh left-hander Afif Hossain made his T...,Afif Hossain,1.000000,0.0,11.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,10.809094
2,Mosaddek Hossain,Bangladesh,NaN,Right hand Bat,Right arm Offbreak,Middle order Batter,"Mosaddek Hossain, who comes from a family of c...",Mosaddek Hossain,2.333333,0.0,21.333333,0.666667,5.333333,1.333333,1.333333,0.000000,0.666667,9.803202
3,Wessly Madhevere,Zimbabwe,NaN,Right hand Bat,Right arm Offbreak,Allrounder,NaN,Wessly Madhevere,1.500000,0.0,12.500000,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000,10.503918
4,Sean Williams,Zimbabwe,NaN,Left hand Bat,Slow Left arm Orthodox,Middle order Batter,"Sean Williams is a bold, dynamic left-hand bat...",Sean Williams,2.571429,0.0,15.857143,0.714286,4.714286,0.571429,0.142857,0.571429,0.142857,5.865932

In [315]:
# Dropping unnecessary columns
df_ball.drop(columns = ['description','bowlerName','overs',"maiden","runs","wickets","0s","4s","6s","wides","noBalls"], inplace=True)

In [316]:
df_ball.head()

,name,team,image,battingStyle,bowlingStyle,playingRole,Predicted economy
0,Soumya Sarkar,Bangladesh,NaN,Left hand Bat,Right arm Medium fast,Middle order Batter,9.493371
1,Afif Hossain,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Allrounder,10.809094
2,Mosaddek Hossain,Bangladesh,NaN,Right hand Bat,Right arm Offbreak,Middle order Batter,9.803202
3,Wessly Madhevere,Zimbabwe,NaN,Right hand Bat,Right arm Offbreak,Allrounder,10.503918
4,Sean Williams,Zimbabwe,NaN,Left hand Bat,Slow Left arm Orthodox,Middle order Batter,5.865932

In [317]:
# Sorting by column 'Predicted economy' and finding top 5 predicted bowlers
df_ball_final = df_ball.sort_values(by=['Predicted economy'])[:5]

In [318]:
df_ball_final

,name,team,image,battingStyle,bowlingStyle,playingRole,Predicted economy
15,Nasum Ahmed,Bangladesh,NaN,Left hand Bat,Slow Left arm Orthodox,Bowler,2.331091
127,Ruben Trumpelmann,Namibia,NaN,Right hand Bat,Left arm Fast,Bowler,3.804235
52,Zahoor Khan,U.A.E.,NaN,Right hand Bat,Right arm Medium fast,Bowler,4.178644
99,Jason Holder,West Indies,NaN,Right hand Bat,Right arm Medium fast,Bowling Allrounder,4.179981
86,Bernard Scholtz,Namibia,NaN,Right hand Bat,Slow Left arm Orthodox,Bowler,4.289014

In [319]:
df_bat = pd.merge(df_player,df_bat_pred,how = 'inner',left_on = 'name',right_on = 'batsmanName')

In [320]:
df_bat.head()

,name,team,image,battingStyle,bowlingStyle,playingRole,description,batsmanName,battingPos,balls,4s,6s,SR,out/not_out,Predicted Runs
0,Najmul Hossain Shanto,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Top order Batter,Nazmul Hossain Shanto emerged from an unusual ...,Najmul Hossain Shanto,1.00,31.40,4.00,0.40,110.118,0.0,36.582614
1,Soumya Sarkar,Bangladesh,NaN,Left hand Bat,Right arm Medium fast,Middle order Batter,"A rarity among Bangladesh allrounders, top-ord...",Soumya Sarkar,2.25,9.75,0.75,0.75,116.910,0.0,12.686559
2,Litton Das,Bangladesh,NaN,Right hand Bat,NaN,Wicketkeeper Batter,Liton Das is the first wicketkeeper-batsman in...,Litton Das,2.60,17.80,2.20,1.00,131.072,0.0,24.888267
3,Shakib Al Hasan(c),Bangladesh,NaN,Left hand Bat,Slow Left arm Orthodox,Allrounder,When the annals of Bangladesh cricket are sift...,Shakib Al Hasan(c),3.80,9.20,0.60,0.00,65.220,0.0,7.525519
4,Afif Hossain,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Allrounder,Bangladesh left-hander Afif Hossain made his T...,Afif Hossain,4.80,15.20,1.20,0.60,98.674,0.2,17.897023

In [321]:
df_bat.drop(columns = ["description","batsmanName","battingPos","balls","4s","6s","SR","out/not_out"], inplace=True)

In [322]:
df_bat.head()

,name,team,image,battingStyle,bowlingStyle,playingRole,Predicted Runs
0,Najmul Hossain Shanto,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Top order Batter,36.582614
1,Soumya Sarkar,Bangladesh,NaN,Left hand Bat,Right arm Medium fast,Middle order Batter,12.686559
2,Litton Das,Bangladesh,NaN,Right hand Bat,NaN,Wicketkeeper Batter,24.888267
3,Shakib Al Hasan(c),Bangladesh,NaN,Left hand Bat,Slow Left arm Orthodox,Allrounder,7.525519
4,Afif Hossain,Bangladesh,NaN,Left hand Bat,Right arm Offbreak,Allrounder,17.897023

In [323]:
df_bat_final = df_bat.sort_values(by=['Predicted Runs'], ascending=False)[:6]

In [324]:
df_bat_final

,name,team,image,battingStyle,bowlingStyle,playingRole,Predicted Runs
166,Virat Kohli,India,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Medium,Top order Batter,44.347165
110,George Munsey,Scotland,NaN,Left hand Bat,Right arm Medium fast,Opening Batter,40.889799
142,Brandon King,West Indies,NaN,Right hand Bat,NaN,Top order Batter,39.257018
155,Glenn Phillips,New Zealand,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,39.088010
182,Aaron Finch(c),Australia,NaN,Right hand Bat,Slow Left arm Orthodox,Top order Batter,37.582028
89,Jos Buttler(c),England,"https://img1.hscicdn.com/image/upload/f_auto,t...",Right hand Bat,NaN,Wicketkeeper Batter,36.835085

In [330]:
df_ball_final.to_csv('dreambowlingteam.csv', index=False)

In [331]:
df_bat_final.to_csv('dreambattingteam.csv', index = False)